Import necessary libraries

In [151]:
import numpy as np
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.utils import to_categorical
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.svm import SVC
from keras.optimizers import Adam
from sklearn.preprocessing import StandardScaler

Read the training data from a CSV file

In [152]:
data = pd.read_csv('/content/data_train.csv')
read = pd.DataFrame(data)
data

,label,Age,Language,Sex,Marital,Has_Credit,Field,Month_of_birth,Day_of_birth,Region,Number_of_credits,Linked_cards,INPS_mln_sum,INPS_yes_no,Score_level,Score_class,Score_point,Changed_phone_number
0,0,34,1,2,6,2,13,12,1,12,1,0,0.0,0,0,0,-,1
1,0,38,1,1,5,1,10,7,1,13,1,2,0.0,0,0,0,-,1
2,0,35,1,2,4,2,9,8,1,13,4,1,1.0,1,0,0,-,1
3,0,27,1,1,5,2,13,7,1,12,1,2,1.0,0,0,0,-,1
4,0,32,1,2,4,2,10,7,1,13,3,1,2.0,1,0,0,-,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8702,1,38,1,2,4,1,16,12,2,9,1,1,3.0,1,0,0,0,0
8703,1,32,1,2,4,1,4,1,2,12,1,1,1.5,1,0,0,0,0
8704,1,24,1,1,7,1,5,10,1,4,1,1,0.0,0,0,0,0,0
8705,1,31,1,2,4,1,1,6,2,7,1,1,0.0,0,3,6,237,0
8706,1,40,1,2,4,1,5,4,1,2,1,1,0.0,0,3,6,263,0

Display basic information about the data

In [153]:
data.shape

(8707, 18)

In [154]:
data.describe()

,label,Age,Language,Sex,Marital,Has_Credit,Field,Month_of_birth,Day_of_birth,Region,Number_of_credits,Linked_cards,INPS_mln_sum,INPS_yes_no,Score_level,Score_class,Changed_phone_number
count,8707.000000,8707.000000,8707.000000,8707.000000,8707.000000,8707.000000,8707.000000,8707.000000,8707.000000,8707.000000,8707.000000,8707.000000,8707.000000,8707.000000,8707.000000,8707.000000,8707.000000
mean,0.923050,37.690479,1.147468,1.622488,4.540829,1.032043,10.485012,6.360859,1.462157,11.207190,1.119789,1.100838,2.132932,0.957505,0.547491,1.082807,0.112094
std,0.266527,10.750031,0.354592,0.484792,1.053161,0.176125,5.597442,3.405988,0.498594,3.020191,0.366915,0.315294,2.225331,0.201726,1.190702,2.447644,0.344394
min,0.000000,19.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,29.000000,1.000000,1.000000,4.000000,1.000000,6.000000,3.000000,1.000000,12.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000
50%,1.000000,36.000000,1.000000,2.000000,4.000000,1.000000,13.000000,6.000000,1.000000,12.000000,1.000000,1.000000,1.700000,1.000000,0.000000,0.000000,0.000000
75%,1.000000,44.000000,1.000000,2.000000,5.000000,1.000000,14.000000,9.000000,2.000000,13.000000,1.000000,1.000000,2.800000,1.000000,0.000000,0.000000,0.000000
max,1.000000,79.000000,2.000000,2.000000,7.000000,2.000000,22.000000,12.000000,2.000000,14.000000,5.000000,4.000000,86.300000,1.000000,4.000000,11.000000,3.000000

In [155]:
data.isnull().sum()

label                   0
Age                     0
Language                0
Sex                     0
Marital                 0
Has_Credit              0
Field                   0
Month_of_birth          0
Day_of_birth            0
Region                  0
Number_of_credits       0
Linked_cards            0
INPS_mln_sum            0
INPS_yes_no             0
Score_level             0
Score_class             0
Score_point             0
Changed_phone_number    0
dtype: int64

Replace "-" with 0 in the dataset

In [156]:
data = data.replace({"-":0})

Display the modified data

In [157]:
data

,label,Age,Language,Sex,Marital,Has_Credit,Field,Month_of_birth,Day_of_birth,Region,Number_of_credits,Linked_cards,INPS_mln_sum,INPS_yes_no,Score_level,Score_class,Score_point,Changed_phone_number
0,0,34,1,2,6,2,13,12,1,12,1,0,0.0,0,0,0,0,1
1,0,38,1,1,5,1,10,7,1,13,1,2,0.0,0,0,0,0,1
2,0,35,1,2,4,2,9,8,1,13,4,1,1.0,1,0,0,0,1
3,0,27,1,1,5,2,13,7,1,12,1,2,1.0,0,0,0,0,1
4,0,32,1,2,4,2,10,7,1,13,3,1,2.0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8702,1,38,1,2,4,1,16,12,2,9,1,1,3.0,1,0,0,0,0
8703,1,32,1,2,4,1,4,1,2,12,1,1,1.5,1,0,0,0,0
8704,1,24,1,1,7,1,5,10,1,4,1,1,0.0,0,0,0,0,0
8705,1,31,1,2,4,1,1,6,2,7,1,1,0.0,0,3,6,237,0
8706,1,40,1,2,4,1,5,4,1,2,1,1,0.0,0,3,6,263,0

*   Split the data into features (x) and labels (y)
*   Split the data into training and testing sets

In [158]:
x = data.drop('label', axis=1)
y = data['label']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [159]:
print(y_train.head())

6884    1
1049    1
8469    1
8647    1
3836    1
Name: label, dtype: int64

In [160]:
y_train = y_train

Standardize the features using StandardScaler

In [161]:
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [162]:
y_test = y_test.to_numpy()

Build a neural network model using Keras

In [163]:
model = Sequential()
model.add(Dense(64, input_dim=x_train.shape[1], activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

Compile the model using binary crossentropy loss and Adam optimizer

In [164]:
model.compile(loss='binary_crossentropy', optimizer=Adam(learning_rate=0.001), metrics=['accuracy'])

Train the neural network model

In [165]:
model.fit(x_train, y_train, epochs=50, batch_size=32, validation_split=0.1, verbose=0)

In [166]:
model = SVC()
model.fit(x_train, y_train)

SVC()

In [167]:
predictions = model.predict(x_test)
accuracy = accuracy_score(y_test, predictions)

In [168]:
conf_matrix = confusion_matrix(y_test, predictions)

In [169]:
class_report = classification_report(y_test, predictions)

In [170]:
print(f"Accuracy: {accuracy:.2f}")

Accuracy: 0.99

In [171]:
print("\nConfuion Matrix")
print(conf_matrix)

Confuion Matrix
[[ 223    1]
 [  13 2376]]

In [172]:
print("\nClassification Report:")
print(class_report)

Classification Report:
              precision    recall  f1-score   support

           0       0.94      1.00      0.97       224
           1       1.00      0.99      1.00      2389

    accuracy                           0.99      2613
   macro avg       0.97      1.00      0.98      2613
weighted avg       0.99      0.99      0.99      2613

In [173]:
data1 = pd.read_csv('/content/data_test.csv')
read = pd.DataFrame(data1)

print(data1)
print(read)

    label  Age  Language  Sex  Marital  Has_Credit  Field  Month_of_birth  \
0       0   40         1    2        4           1      0               3
1       0   36         2    2        4           1      0               5
2       0   31         1    2        4           1      0               7
3       0   29         1    2        4           1      0               1
4       0   38         1    2        4           1      0              10
5       0   33         1    2        4           1      0               9
6       0   34         1    1        5           1      0               4
7       0   28         1    2        4           1      0               8
8       0   33         1    1        5           1      0               6
9       0   35         1    1        5           1      0              10
10      0   25         1    2        6           1      0               4
11      0   29         1    2        4           1      0               5
12      0   34         1    1        5           1      0               9
13      0   24         1    2        6           1      0              11
14      0   51         2    1        2           1      0              11
15      0   47         1    2        4           1      0              11
16      0   57         1    2        3           1      0               8
17      0   33         1    2        6           1      0              10
18      0   36         1    2        4           1      0               8
19      0   22         1    2        6           1      0               1
20      0   27         1    2        6           1      0               7
21      0   44         1    2        4           1      0              10
22      0   26         1    2        6           1      0               9
23      0   35         1    2        4           1      0               7
24      0   26         1    2        6           1      0               8
25      0   29         1    2        6           1      0               3
26      1   38         1    1        5           1     10               5
27      1   56         1    2        4           1     14               2
28      1   48         1    2        4           1     13               8
29      1   51         1    2        4           1      2               1
30      1   56         1    1        5           1      2               8
31      1   69         1    1        5           1     20              10
32      1   43         2    2        4           1     11               6
33      1   38         2    1        5           1     11               1
34      1   52         2    1        2           1     13               8
35      1   31         1    2        6           1      3              10
36      1   35         1    2        4           1      4               7
37      1   48         1    1        1           1     16               8
38      1   34         1    2        4           1      4               1
39      1   29         1    1        7           1     13              10
40      1   31         1    1        5           1     16               3
41      1   37         1    1        5           1     13               1
42      1   54         1    2        4           1      1               3
43      1   66         1    1        5           1     10               6
44      1   33         1    1        7           1     10               7
45      1   42         1    2        4           1      7               2
46      1   36         1    2        4           1     16              12
47      1   26         2    2        6           1      1               2

    Day_of_birth  Region  Number_of_credits  Linked_cards  INPS_mln_sum  \
0              1      12                  2             1           2.4
1              1      13                  1             2           0.0
2              1      13                  1             1           0.3
3              1      13                  1             1           0.9
4              1      13                  1             2           4.3
5              1      13                  1             2           0.8
6              1      12                  1             2           0.1
7              1      13                  1             1           1.6
8              1      13                  1             2           3.7
9              1      13                  1             1           0.8
10             1      12                  1             1           5.0
11             1      12                  2             1           1.1
12             1      12                  1             1           2.2
13             1      12                  1             1           0.6
14             1      12                  1             2           3.0
15             1      13                  1             1           3.3
16             1      13                  1             1           2.8
17             1      12                  1             1           1.9
18             1      12                  1             3           4.0
19             1      13                  2             1           1.8
20             1      11                  1             1           1.1
21             1      12                  1             1           0.4
22             1      13                  1             1           5.2
23             1      10                  1             1           1.3
24             1      12                  1             2           2.6
25             1      12                  2             1           4.3
26             1      13                  1             2           2.4
27             2      13                  2             2           0.4
28             2      11                  2             1           5.1
29             2      13                  1             2           2.0
30             2      13                  1             1           0.2
31             2      13                  2             1           4.6
32             2      13                  2             1           5.1
33             1      13                  1             1           0.8
34             2      13                  1             1           3.1
35             2      13                  2             1           0.8
36             1      13                  1             1           2.3
37             1      13                  1             2           0.4
38             1      13                  2             1           3.0
39             1      12                  1             1           0.8
40             2      12                  1             2           4.7
41             2      13                  2             1           1.8
42             1      13                  1             2           3.9
43             2      12                  1             1           0.8
44             1      13                  1             2           1.2
45             1      13                  1             1           2.1
46             2      11                  1             1           0.5
47             1      13                  1             1           1.1

    INPS_yes_no  Score_level  Score_class Score_point  Changed_phone_number
0             1            0            0           -                     1
1             1            0            0           -                     1
2             0            0            0           -                     2
3             1            0            0           -                     1
4             0            4            2         318                     1
5             0            3            6         263                     1
6             1            0            0           -                     1
7             1            0            0           -                     1
8             0            2            8         108                     1
9             0            0            0           -                     1
10            1            0            0           -                     1
11            1            0            0           -                     1
12            0            0            0           -                     1
13            1            0            0           -                     1
14            1            0            0           -                     1
15            0            0            0           -                     1
16            0            3            5         212                     1
17            1            0            0           -                     1
18            1            0            0           -                     1
19            1            0            0           -                     2
20            0            3            7         285                     1
21            1            0            0           -                     1
22            1            0            0           -                     1
23            1            0            0           -                     1
24            1            0            0           -                     1
25            0            3            7         285                     1
26            1            0            0           0                     0
27            1            0            0           0                     0
28            1            0            0           0                     0
29            1            0            0           0                     0
30            1            0            0           0                     0
31            1            3            5         232                     0
32            1            0            0           0                     0
33            1            0            0           0                     0
34            1            0            0           0                     0
35            1            0            0           0                     0
36            1            0            0           0                     0
37            1            0            0           0                     0
38            1            0            0           0                     0
39            1            3            6         264                     1
40            1            3            6         254                     0
41            1            0            0           0                     0
42            1            0            0           0                     0
43            1            0            0           0                     0
44            1            0            0           0                     0
45            1            0            0           0                     0
46            1            0            0           0                     0
47            1            0            0           0                     0
    label  Age  Language  Sex  Marital  Has_Credit  Field  Month_of_birth  \
0       0   40         1    2        4           1      0               3
1       0   36         2    2        4           1      0               5
2       0   31         1    2        4           1      0               7
3       0   29         1    2        4           1      0               1
4       0   38         1    2        4           1      0              10
5       0   33         1    2        4           1      0               9
6       0   34         1    1        5           1      0               4
7       0   28         1    2        4           1      0               8
8       0   33         1    1        5           1      0               6
9       0   35         1    1        5           1      0              10
10      0   25         1    2        6           1      0               4
11      0   29         1    2        4           1      0               5
12      0   34         1    1        5           1      0               9
13      0   24         1    2        6           1      0              11
14      0   51         2    1        2           1      0              11
15      0   47         1    2        4           1      0              11
16      0   57         1    2        3           1      0               8
17      0   33         1    2        6           1      0              10
18      0   36         1    2        4           1      0               8
19      0   22         1    2        6           1      0               1
20      0   27         1    2        6           1      0               7
21      0   44         1    2        4           1      0              10
22      0   26         1    2        6           1      0               9
23      0   35         1    2        4           1      0               7
24      0   26         1    2        6           1      0               8
25      0   29         1    2        6           1      0               3
26      1   38         1    1        5           1     10               5
27      1   56         1    2        4           1     14               2
28      1   48         1    2        4           1     13               8
29      1   51         1    2        4           1      2               1
30      1   56         1    1        5           1      2               8
31      1   69         1    1        5           1     20              10
32      1   43         2    2        4           1     11               6
33      1   38         2    1        5           1     11               1
34      1   52         2    1        2           1     13               8
35      1   31         1    2        6           1      3              10
36      1   35         1    2        4           1      4               7
37      1   48         1    1        1           1     16               8
38      1   34         1    2        4           1      4               1
39      1   29         1    1        7           1     13              10
40      1   31         1    1        5           1     16               3
41      1   37         1    1        5           1     13               1
42      1   54         1    2        4           1      1               3
43      1   66         1    1        5           1     10               6
44      1   33         1    1        7           1     10               7
45      1   42         1    2        4           1      7               2
46      1   36         1    2        4           1     16              12
47      1   26         2    2        6           1      1               2

    Day_of_birth  Region  Number_of_credits  Linked_cards  INPS_mln_sum  \
0              1      12                  2             1           2.4
1              1      13                  1             2           0.0
2              1      13                  1             1           0.3
3              1      13                  1             1           0.9
4              1      13                  1             2           4.3
5              1      13                  1             2           0.8
6              1      12                  1             2           0.1
7              1      13                  1             1           1.6
8              1      13                  1             2           3.7
9              1      13                  1             1           0.8
10             1      12                  1             1           5.0
11             1      12                  2             1           1.1
12             1      12                  1             1           2.2
13             1      12                  1             1           0.6
14             1      12                  1             2           3.0
15             1      13                  1             1           3.3
16             1      13                  1             1           2.8
17             1      12                  1             1           1.9
18             1      12                  1             3           4.0
19             1      13                  2             1           1.8
20             1      11                  1             1           1.1
21             1      12                  1             1           0.4
22             1      13                  1             1           5.2
23             1      10                  1             1           1.3
24             1      12                  1             2           2.6
25             1      12                  2             1           4.3
26             1      13                  1             2           2.4
27             2      13                  2             2           0.4
28             2      11                  2             1           5.1
29             2      13                  1             2           2.0
30             2      13                  1             1           0.2
31             2      13                  2             1           4.6
32             2      13                  2             1           5.1
33             1      13                  1             1           0.8
34             2      13                  1             1           3.1
35             2      13                  2             1           0.8
36             1      13                  1             1           2.3
37             1      13                  1             2           0.4
38             1      13                  2             1           3.0
39             1      12                  1             1           0.8
40             2      12                  1             2           4.7
41             2      13                  2             1           1.8
42             1      13                  1             2           3.9
43             2      12                  1             1           0.8
44             1      13                  1             2           1.2
45             1      13                  1             1           2.1
46             2      11                  1             1           0.5
47             1      13                  1             1           1.1

    INPS_yes_no  Score_level  Score_class Score_point  Changed_phone_number
0             1            0            0           -                     1
1             1            0            0           -                     1
2             0            0            0           -                     2
3             1            0            0           -                     1
4             0            4            2         318                     1
5             0            3            6         263                     1
6             1            0            0           -                     1
7             1            0            0           -                     1
8             0            2            8         108                     1
9             0            0            0           -                     1
10            1            0            0           -                     1
11            1            0            0           -                     1
12            0            0            0           -                     1
13            1            0            0           -                     1
14            1            0            0           -                     1
15            0            0            0           -                     1
16            0            3            5         212                     1
17            1            0            0           -                     1
18            1            0            0           -                     1
19            1            0            0           -                     2
20            0            3            7         285                     1
21            1            0            0           -                     1
22            1            0            0           -                     1
23            1            0            0           -                     1

In [174]:
datal = datal.replace({"-":0})

In [175]:
datal

,label,Age,Language,Sex,Marital,Has_Credit,Field,Month_of_birth,Day_of_birth,Region,Number_of_credits,Linked_cards,INPS_mln_sum,INPS_yes_no,Score_level,Score_class,Score_point,Changed_phone_number
0,0,40,1,2,4,1,0,3,1,12,2,1,2.4,1,0,0,0,1
1,0,36,2,2,4,1,0,5,1,13,1,2,0.0,1,0,0,0,1
2,0,31,1,2,4,1,0,7,1,13,1,1,0.3,0,0,0,0,2
3,0,29,1,2,4,1,0,1,1,13,1,1,0.9,1,0,0,0,1
4,0,38,1,2,4,1,0,10,1,13,1,2,4.3,0,4,2,318,1
5,0,33,1,2,4,1,0,9,1,13,1,2,0.8,0,3,6,263,1
6,0,34,1,1,5,1,0,4,1,12,1,2,0.1,1,0,0,0,1
7,0,28,1,2,4,1,0,8,1,13,1,1,1.6,1,0,0,0,1
8,0,33,1,1,5,1,0,6,1,13,1,2,3.7,0,2,8,108,1
9,0,35,1,1,5,1,0,10,1,13,1,1,0.8,0,0,0,0,1
10,0,25,1,2,6,1,0,4,1,12,1,1,5.0,1,0,0,0,1
11,0,29,1,2,4,1,0,5,1,12,2,1,1.1,1,0,0,0,1
12,0,34,1,1,5,1,0,9,1,12,1,1,2.2,0,0,0,0,1
13,0,24,1,2,6,1,0,11,1,12,1,1,0.6,1,0,0,0,1
14,0,51,2,1,2,1,0,11,1,12,1,2,3.0,1,0,0,0,1
15,0,47,1,2,4,1,0,11,1,13,1,1,3.3,0,0,0,0,1
16,0,57,1,2,3,1,0,8,1,13,1,1,2.8,0,3,5,212,1
17,0,33,1,2,6,1,0,10,1,12,1,1,1.9,1,0,0,0,1
18,0,36,1,2,4,1,0,8,1,12,1,3,4.0,1,0,0,0,1
19,0,22,1,2,6,1,0,1,1,13,2,1,1.8,1,0,0,0,2
20,0,27,1,2,6,1,0,7,1,11,1,1,1.1,0,3,7,285,1
21,0,44,1,2,4,1,0,10,1,12,1,1,0.4,1,0,0,0,1
22,0,26,1,2,6,1,0,9,1,13,1,1,5.2,1,0,0,0,1
23,0,35,1,2,4,1,0,7,1,10,1,1,1.3,1,0,0,0,1
24,0,26,1,2,6,1,0,8,1,12,1,2,2.6,1,0,0,0,1
25,0,29,1,2,6,1,0,3,1,12,2,1,4.3,0,3,7,285,1
26,1,38,1,1,5,1,10,5,1,13,1,2,2.4,1,0,0,0,0
27,1,56,1,2,4,1,14,2,2,13,2,2,0.4,1,0,0,0,0
28,1,48,1,2,4,1,13,8,2,11,2,1,5.1,1,0,0,0,0
29,1,51,1,2,4,1,2,1,2,13,1,2,2.0,1,0,0,0,0
30,1,56,1,1,5,1,2,8,2,13,1,1,0.2,1,0,0,0,0
31,1,69,1,1,5,1,20,10,2,13,2,1,4.6,1,3,5,232,0
32,1,43,2,2,4,1,11,6,2,13,2,1,5.1,1,0,0,0,0
33,1,38,2,1,5,1,11,1,1,13,1,1,0.8,1,0,0,0,0
34,1,52,2,1,2,1,13,8,2,13,1,1,3.1,1,0,0,0,0
35,1,31,1,2,6,1,3,10,2,13,2,1,0.8,1,0,0,0,0
36,1,35,1,2,4,1,4,7,1,13,1,1,2.3,1,0,0,0,0
37,1,48,1,1,1,1,16,8,1,13,1,2,0.4,1,0,0,0,0
38,1,34,1,2,4,1,4,1,1,13,2,1,3.0,1,0,0,0,0
39,1,29,1,1,7,1,13,10,1,12,1,1,0.8,1,3,6,264,1
40,1,31,1,1,5,1,16,3,2,12,1,2,4.7,1,3,6,254,0
41,1,37,1,1,5,1,13,1,2,13,2,1,1.8,1,0,0,0,0
42,1,54,1,2,4,1,1,3,1,13,1,2,3.9,1,0,0,0,0
43,1,66,1,1,5,1,10,6,2,12,1,1,0.8,1,0,0,0,0
44,1,33,1,1,7,1,10,7,1,13,1,2,1.2,1,0,0,0,0
45,1,42,1,2,4,1,7,2,1,13,1,1,2.1,1,0,0,0,0
46,1,36,1,2,4,1,16,12,2,11,1,1,0.5,1,0,0,0,0
47,1,26,2,2,6,1,1,2,1,13,1,1,1.1,1,0,0,0,0

Extract features (nedX) and labels (nedy) from the test data

In [176]:
nedX = datal.drop('label', axis=1)
nedy = datal['label'].to_numpy()

In [177]:
nedX.head()

,Age,Language,Sex,Marital,Has_Credit,Field,Month_of_birth,Day_of_birth,Region,Number_of_credits,Linked_cards,INPS_mln_sum,INPS_yes_no,Score_level,Score_class,Score_point,Changed_phone_number
0,40,1,2,4,1,0,3,1,12,2,1,2.4,1,0,0,0,1
1,36,2,2,4,1,0,5,1,13,1,2,0.0,1,0,0,0,1
2,31,1,2,4,1,0,7,1,13,1,1,0.3,0,0,0,0,2
3,29,1,2,4,1,0,1,1,13,1,1,0.9,1,0,0,0,1
4,38,1,2,4,1,0,10,1,13,1,2,4.3,0,4,2,318,1

In [178]:
print(type(nedy))

<class 'numpy.ndarray'>

In [179]:
nedy_df = pd.DataFrame(nedy)
nedy_df.head()

   0
0  0
1  0
2  0
3  0
4  0

In [180]:
nedX = scaler.transform(nedX)

In [181]:
print(type(model))

<class 'sklearn.svm._classes.SVC'>

In [182]:
logis = model.predict(nedX)

Evaluate and display the accuracy, confusion matrix, and classification report for the predictions

In [183]:
print(accuracy_score(nedy, logis))
print(confusion_matrix(nedy, logis))
print(classification_report(nedy, logis))

1.0
[[26  0]
 [ 0 22]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        26
           1       1.00      1.00      1.00        22

    accuracy                           1.00        48
   macro avg       1.00      1.00      1.00        48
weighted avg       1.00      1.00      1.00        48